/*========================================================
||||||||||||||||||||||  Fim FR CSS  ||||||||||||||||||||||
=========================================================*/
@charset "UTF-8";
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,cyrillic);*/
/*========================================================
||||||||||||||||||||||  FR CSS  ||||||||||||||||||||||||||
=========================================================*/


@font-face {
font-family: 'DIN-Regular';
font-style: normal;
font-weight: normal;
src: local('DIN-Regular'), url('fontes/DINR.woff') format('woff');
}



@font-face {
  font-family: 'din-alternate-bold';  
  font-style: normal;
  font-weight: normal;
  src: local('DIN-Alternate Bold_0.otf'), url('DIN-Alternate Bold_0.otf') format('otf');     
}

/*
@font-face {
    font-family:"Raleway-Bold";
    src: url(fontes/raleway2/Raleway-Bold-webfont.woff);
}

@font-face {
    font-family:"Raleway";
    src: url(fontes/raleway2/Raleway-Regular-webfont.woff);
}
*/



a.banners img {
 -webkit-filter: grayscale(1);
  filter: grayscale(1); 
  transition: all 0.3s linear; 
}

a.banners:hover img { 
  -webkit-filter: grayscale(0);
   filter: grayscale(0); 
 }



body{
  font-family: 'Ubuntu', sans-serif;
}

#button-account,#button-confirm,#button-guest,#button-payment-method,#button-shipping-method{
  background-color:#377035;
}

.box_verde_fr{ 
  background-image:url("../image/banner_verde.png");
  background-size:cover;
  background-repeat:no-repeat;
  color: #fff;
  margin-top:30px;
  font-size: 15px;
  padding-top:30px;
  padding-bottom:30px;
  margin-bottom:20px;
  /*padding: 66px 0;*/
  min-height:288pt;
}

.box_verde_fr h1{
  color: #fff;
  font-weight: 600;
}

.form_cormecial_fr{
  background-color: #3c3c3c;
  color: #fff;
}

.form_cormecial_fr input, .form_cormecial_fr textarea{
  width: 100%;
}

.despache{
  width:auto;
  padding:3px;
}
#despache_row{
  text-align: center;
}
#desp{
padding-top: 8px;
}
.despache_footer_fr p {
    height: 13px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 4px;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
}

.despache_footer_fr h1{
  font-family:'Dosis', sans-serif;
  font-size: 31px;
  color: #fff;
  margin: 0;
  font-weight: 600;
}
#deseja{
  font-family:"Arial",sans-serif !important; 
}
.pronta_entrega_fr div{
  
    background: #929293;
    text-align: center;
    color: #272727;
    padding: 10px 0;
    text-transform: uppercase;
    margin: auto;
    max-width: 300px;
}

.parallax_super_fr{
    min-height: 200px;
    background: rgba(39,39,39,0.7);
}

.parallax_super_fr_2{
   min-height: 200px;
   background: rgba(39,39,39,0.7)!important;
}
.comercial{
  text-align:center;
  font-size: 20px;
}
.box_cinza_fr{
  background: #272727;
  color: #929293;
  font-size: 15px;
  padding: 50px 0;
}

.box_cinza_fr h1{
  color: #ffffff;
  font-weight: 600;
}

.parallax_super_fr h1, .parallax_super_fr_2 h1{
  color: #fff!important;
  font-weight: 600;
  margin: 20px 0;
  text-align:left;
}

.parallax_super_fr p{
 /* width:100%;
  font-size: 15px;*/
}

.imagem_pagamento_fr{
  padding:0;
}

.imagem_pagamento_fr img{
  float: right;
  height: 69px;
}

.pronta_entrega_fr h2, .pronta_entrega_fr p, .despache_footer_fr p{
  margin: 0;
}

.pronta_entrega_fr h2, .pronta_entrega_fr p{
  font-weight: 600;
}
.info_contato_fr{
  margin:auto!important;
  max-width: 337px;
  text-align: center;
}

.texto_cinza_fr{
 font-family: 'Ubuntu', sans-serif;
  color: #929293;
  font-weight: bold;
  margin-bottom:0px;
  max-width: 330px;
}
/*#comercial{
  margin:auto!important; 
  margin-bottom:2px !important;
  font-size: 19px!important;
  padding-left: 30px!important;
}*/
#contato input{
  padding-left:3px;
}
.texto_branco_fr{
 font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  padding-bottom:0px;
  margin-bottom: 0px;
  max-width: 330px;
}

.texto_branco_fr.branco_1_fr.num{
    max-width: 260px;
}

.telefone_mini_fr{
 font-family: 'Ubuntu', sans-serif;
  float: left;
  font-weight: bold;
  float: left;
  padding-left: 10px;
  font-size: 17px;
  margin: 9px -20px 0 0;
}

.telefone_comercial_fr{
 font-family: 'Ubuntu', sans-serif;
  font-size: 31px;
  font-weight: bold;
  width: 304px;
  margin: 0 auto;
  line-height: 1;
}

#empresa_comercial_fr{
 
 font-family: 'Ubuntu', sans-serif;
}



#telefone_comercial_fr{
  margin-bottom: 0 !important;
}

.input_form_com_fr{
  max-width: 335px;
  margin: 10px 0;
}

#btn_cont_comercial_fr{
  width: 170px;
  float: right;
  background: #436f2c;
  border: 0;
  color: #fff;
  font-weight: 600;
  padding: 11px 0px;
  margin-top:10px;
}

.form_cormecial_fr textarea{
    margin-top: 9px;
    height: 181px;
    color: #929293 !important;
}



/*========================================================
                      Main Styles
=========================================================*/
/*========================================================
                   Bootstrap Reset
=========================================================*/
.container > .alert,
.breadcrumb + .alert {
  position: fixed;
  width: 100%;
  z-index: 1000; }

.alert button.close {
  vertical-align: top;
  margin-top: -3px; }

.alert {
  color: #FFF;
  font-weight: bold;
  padding: 10px 10px 13px;
  border-radius: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

.alert i {
  font-size: 21px; }

.alert a:hover {
  text-decoration: none; }

.alert a {
  color: #FFF;
  text-decoration: underline; }

.alert-success {
  background-color: #55C65E;
  border: 1px solid #48B151; }

.alert-danger {
  background-color: #F3515C;
  border-color: #D4323D; }

.alert-info {
  background-color: #FE9126;
  border-color: #E4752B; }

.modal-header .close:hover {
  color: #377035; }

.modal-header .close {
  color: #CCC; }

.close {
  color: #FFF;
  opacity: 1; }

.pagination {
  border-radius: 0; }

.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #377035;
  border-color: #377035;
  color: #FFF; }

.pagination > li > a, .pagination > li > span {
  color: #888; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background: #00b7e8;
  border-color: #00b7e8;
  color: #FFF; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none;
  text-decoration: none; }

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  box-shadow: none;
  outline: none; }

.table-bordered {
  border-radius: 0; }

.table thead td {
  text-transform: uppercase;
  font-weight: bold;
  color: #323232 !important;
  font-size: 13px;
  background-color: #F9F9F9; }

.table th,
.table td {
  padding: 20px;
  border-color: #D7D7D7;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.block-compare .table th, .block-compare .table td {
  padding: 7px; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: 13px; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0;
  box-shadow: none; }

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  border-radius: 0; }

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  border-radius: 0; }

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  border-radius: 0; }

.table-bordered {
  border-color: #D7D7D7; }

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-color: #e9e9e9; }

.table > tbody + tbody {
  border-top: none; }

label,
input,
button,
select,
textarea {
  font-size: 13px;
  color: #393939; }
  @media (min-width: 768px) and (max-width: 991px) {
    label,
    input,
    button,
    select,
    textarea {
      font-size: 10px; } }

label {
  font-weight: bold; }

textarea {
  resize: none; }

label {
  cursor: default; }

.close:hover,
.close:focus {
  opacity: 1; }

.panel-group .panel, .panel {
  border-radius: 0; }

.panel-heading {
  padding: 20px; }

.addthis_button_tweet {
  width: 100px !important; }

.fancybox-close, .fancybox-prev span, .fancybox-next span {
  opacity: 0.8; }

.fancybox-close:hover, .fancybox-prev span:hover, .fancybox-next span:hover {
  opacity: 1; }

.text-danger {
  color: red;
  font-weight: bold;
  font-size: 100%;
  font-size: 16px; }

.buttons input[type="checkbox"] {
  position: relative;
  top: 2px; }

input[type="checkbox"], input[type="checkbox"]:focus, input[type="radio"], input[type="radio"]:focus {
  outline: 0; }

.product-search select.form-control {
  font-size: 11px; }

body {
  /*font: 300 14px/18px "ubuntu", sans-serif;
  color: #777;*/
  background: #f2f2f2; }

body.common-home {
  /*
  font: 400 12px/22px "ubuntu", sans-serif;*/ }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0 20px; }

button {
  outline: none; }

/* default font size */
.fa {
  line-height: inherit; }

h1, h2, h3, h4, h5, h6 {
  color: #333333; }

/* Override the bootstrap defaults */
h1 {
  font-size: 33px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 15px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10.2px; }

button {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  outline: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  a:active {
    background: transparent;
    outline: none; }
  a:visited, a:focus {
    color: inherit;
    text-decoration: none;
    outline: 0; }
  a:hover {
    text-decoration: none;
    color: #377035; }

p a:hover {
  text-decoration: underline; }

img {
  max-width: 100%;
  height: auto; }

legend {
  font-size: 18px;
  padding: 7px 0px; }

label {
  font-size: 12px;
  font-weight: normal; }

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
  font-size: 12px;
  border-radius: 0; }

.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover,
.input-group-addon {
  font-size: 12px; }

.input-group .input-group-addon {
  height: 30px; }

.nav-tabs {
  margin-bottom: 15px; }

div.required .control-label:before {
  content: '* ';
  color: #F00;
  font-weight: bold; }

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
  color: #ffffff;
  background-color:#3BCE42;
  background-repeat: repeat-x; }

/*========================================================
                      Header styles
=========================================================*/
.header {
  background: #fff;
  padding-top: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); }
  .header .box-language, .header .box-currency {
    float: right; }
  .header .box-currency {
    margin-left: 14px; }
  .header .logo {
    float: left;
    margin-top: 32px; }
  .header .nav {
    float: left; }
  .header .phone {
    float: right;
    margin-top: 44px; }
  .header .cf:before, .header .cf:after {
    display: table;
    content: "";
    line-height: 0; }
  .header .cf:after {
    clear: both; }
  .header .mt {
    margin-top: 20px; }
  .header .menu-wr {
    position: relative; }
  .header .dropdown-menu {
    background: #333333;
    color: #FFF; }
    .header .dropdown-menu > li > button, .header .dropdown-menu > li > a {
      color: #FFF; }
      .header .dropdown-menu > li > button:hover, .header .dropdown-menu > li > a:hover {
        
        color: #FFF; }
  .header > .container .col-sm-12 {
    min-height: 0; }

/*===================   Top Panel   ===================*/
.top_panel {
  background: #333333; }
  .top_panel:before, .top_panel:after {
    display: table;
    content: "";
    line-height: 0; }
  .top_panel:after {
    clear: both; }

/*================   Top Links style   ===============*/
.nav {
  color: #78797c; }
  .nav > ul {
    padding: 0;
    margin: 0; }
    .nav > ul li {
      padding: 0; }
    .nav > ul > li + li {
      margin-left: 14px; }
  .nav a {
    font-size: 14px; }
    .nav a i {
      color: #78797c;
      margin-right: 4px;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .nav a:hover, .nav a .active {
      color: #377035; }
      .nav a:hover i, .nav a .active i {
        color: #377035; }

.menu-toggle, .menu-toggle:visited {
  display: block;
  position: relative;
  padding: 20px 50px 20px 30px;
  font: 700 29px/30px "Noto Sans", sans-serif;
  /*background: #377035;*/
  color: #FFF !important; }
  .menu-toggle:after, .menu-toggle:visited:after {
    content: '\f0c9';
    position: absolute;
    right: 30px;
    top: 25px;
    font: 400 21px/30px "FontAwesome";
    color: #fff;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
.phone {
  font: 700 27px/30px "Noto Sans", sans-serif;
  color: #00b7e8; }
  /*.phone:before {
    content: '\f095';
    margin-right: 8px;
    font: 400 28px/30px "FontAwesome";
    color: #f50d29; }
*/
/*================  CURRENCY AND LANGUAGE BOXES ===============*/
.currency-select {
  text-align: left; }

.box-language .open .dropdown-toggle,
.box-currency .open .dropdown-toggle,
.box-language .dropdown-toggle:hover,
.box-currency .dropdown-toggle:hover {
  color:#377035; }

.box-language .dropdown-toggle,
.box-currency .dropdown-toggle {
  display: block;
  text-align: center;
  font-size: 12px;
  text-transform: capitalize;
  cursor: pointer;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #00b7e8; }
  .box-language .dropdown-toggle:after,
  .box-currency .dropdown-toggle:after {
    display: inline-block;
    content: '\f107';
    margin-left: 4px;
    font-size: 11px;
    font-weight: 400;
    font-family: "FontAwesome";
    color: #777; }

.box-currency {
  position: relative;
  top: -1px; }

.box-currency .dropdown-menu a,
.box-language .dropdown-menu a {
  padding: 5px 5px 5px 10px; }

/*================  DropDown Menu item ===============*/
.box-currency .dropdown-menu button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 5px 5px 5px 10px; }
  .box-currency .dropdown-menu button::-moz-focus-inner {
    border: none;
    padding: 0; }

/********** Swipe menu ******************/
.toprow-1 {
  color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width:100%;
  z-index:90;
  display: none;
  background: #333333;
  border-bottom: 1px solid #e5e5e5; }

.swipe-control {
  border-right: 1px solid #e5e5e5;
  display: block;
  height: 50px;
  vertical-align: top;
  text-align: center;
  width: 64px;
  z-index: 100; }
  .swipe-control i {
    line-height: 50px;
    font-size: 30px;
    vertical-align: top;
    color: #FFF;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }

  .swipe-control:hover i, .swipe-control.active i {
    color: #377035; }

.swipe {
  display: block;
  overflow: hidden;
  position: fixed;
  top: 50px;
  width: 237px;
  z-index: 101;
  bottom: 0;
  left: -237px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .swipe .swipe-menu {
    height: 100%;
    overflow-y: auto; }

.swipe ul {
  padding: 0;
  margin: 0; }
  .swipe ul li {
    list-style-type: none; }
    .swipe ul li a {
      display: block;
      padding: 10px 20px;
      color: #fff;
      border-top: 1px solid #e5e5e5;
      line-height: 25px;
      background: #333333; }
      .swipe ul li a i, .swipe ul li a:before {
        font-size: 21px;
        color: #fff;
        margin-right: 9px;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
      .swipe ul li a:hover {
        background-color: #377035;
        color: #fff; }
        .swipe ul li a:hover i, .swipe ul li a:hover:before {
          color: #fff; }

.swipe .foot li a:before {
  content: "\f05a";
  font-family: "FontAwesome";
  display: inline-block; }

.ind .swipe {
  display: block;
  left: 0; }
.ind #page {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 88; }
.ind .shadow {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 88; }

.swipe .foot li + li a:before {
  content: "\f0d1"; }
.swipe .foot li + li + li a:before {
  content: "\f06a"; }
.swipe .foot li + li + li + li a:before {
  content: "\f085"; }

.swipe .foot.foot-1 li a:before {
  content: "\f0ac"; }
.swipe .foot.foot-1 li + li a:before {
  content: "\f079"; }
.swipe .foot.foot-1 li + li + li a:before {
  content: "\f0e8"; }

.swipe .foot.foot-2 li a:before {
  content: "\f02c"; }
.swipe .foot.foot-2 li + li a:before {
  content: "\f06b"; }
.swipe .foot.foot-2 li + li + li a:before {
  content: "\f0c0"; }
.swipe .foot.foot-2 li + li + li + li a:before {
  content: "\f0a3"; }

.swipe .foot.foot-3 li a:before {
  content: "\f0cb"; }
.swipe .foot.foot-3 li + li a:before {
  content: "\f003"; }

@media (max-width: 767px) {
  .telefone_comercial_fr {
      width: 222px;
  }
  .box_cinza_fr .container{
    text-align: center;
  }
  .form_cormecial_fr input, .form_cormecial_fr textarea{
    max-width: 315px;
  }
  .form_cormecial_fr textarea{
    margin-top: 20px;
  }
  #btn_cont_comercial_fr{
    float: none;
    /*margin: 20px 0 30px;*/
  }
  .copyright .container{
    padding: 0;
  }
  .m_footer_cop_fr{
    margin-bottom: 30px;
  }
  .imagem_pagamento_fr img{
    float: none;
  }
  .box_verde_fr{
    padding: 66px 0px;
  }
  .toprow-1 {
    display: block; } }
/*========================================================
               Responsive Header styles
=========================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
  .menu-toggle, .menu-toggle:visited {
    font-size: 20px;
    padding-left: 15px; } 
  }


@media (min-width: 768px) and (max-width: 991px) {
  .menu-toggle, .menu-toggle:visited {
    font-size: 20px;
    padding-left: 15px; }
    .menu-toggle:after, .menu-toggle:visited:after {
      display: none; } 
    }
@media (max-width: 767px) {
  .header {
    padding-top: 50px; }
    .header .search {
      float: none; }
    .header .menu-toggle, .header .phone {
      display: none; }
    .header .box-currency {
      margin-right: 0;
      padding: 0; }
    .header .logo {
      float: none;
      text-align: center;
      margin-top: 15px; }
      .header .logo img {
        display: inline-block; }
    .header .box-cart {
      float: none;
      margin-top: 0; }
    .header .nav {
      margin-top: 0; }
      .header .nav ul {
        display: none; }
    .header .box-right {
      margin-top: 0; }
      .header .box-right:before, .header .box-right:after {
        display: table;
        content: "";
        line-height: 0; }
      .header .box-right:after {
        clear: both; }
    .header .top_panel {
      padding: 0; }
    .header .nav__primary {
      margin-top: 15px;
      background: none; } 
    
  }
/*==================     Search Form     ======================*/
.search {
  position: relative; }
  .search input {
    outline: none;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: baseline;
    box-shadow: none;
    color: #333333;
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    height: 70px;
    padding: 24px 40px 24px 20px;
    background: #f2f2f2;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .search input::-webkit-input-placeholder {
      color: #333333;
      opacity: 1; }
    .search input:-moz-placeholder {
      color: #333333;
      opacity: 1; }
    .search input::-moz-placeholder {
      color: #333333;
      opacity: 1; }
    .search input:-ms-input-placeholder {
      color: #333333;
      opacity: 1; }
  .search button, .search button:focus, .search button:active {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    position: absolute;
    top: 26px;
    right: 20px;
    color: #78797c;
    font: 400 15px/15px 'FontAwesome', sans-serif; }
    .search button::-moz-focus-inner, .search button:focus::-moz-focus-inner, .search button:active::-moz-focus-inner {
      border: none;
      padding: 0; }
    .search button:before, .search button:focus:before, .search button:active:before {
      content: ""; }
  .search button:hover, .search button:focus:hover, .search button:active:hover {
    color: #377035; }

@media (max-width: 479px) {
  .search-form {
    width: 270px; } }
#livesearch_search_results {
  margin: 3px 0 0;
  padding: 5px !important;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333333;
  list-style-type: none;
  z-index: 12;
  width: 100%;
  border-top: 0;
  font-size: 14px; }
  #livesearch_search_results li {
    padding: 0px;
    overflow: hidden; }
    #livesearch_search_results li img {
      overflow: hidden;
      float: left;
      margin-right: 10px; }
      #livesearch_search_results li img.loading {
        background: #F5F5F5; }
    #livesearch_search_results li:hover, #livesearch_search_results li.highlighted {
      background-color: #377035; }
      #livesearch_search_results li:hover a, #livesearch_search_results li.highlighted a {
        color: #FFF; }
  #livesearch_search_results a, #livesearch_search_results a:visited {
    display: block;
    padding: 5px;
    float: left;
    width: 100%;
    color: #00b7e8;
    text-decoration: none; }

@media (min-width: 768px) and (max-width: 991px) {
  #livesearch_search_results li img {
    display: none !important; } }
/*================ Box Cart  ===============*/
.box-cart {
  position: relative; }
  .box-cart .btn-danger {
    border: 0;
    padding: 0;
    background: none;
    color: #fff;
    font-size: 13px; }
    .box-cart .btn-danger:hover {
      background: transparent;
      color: #f50d29; }
  .box-cart .btn {
    margin-bottom: 7px; }

.cart-total {
  display: none; }

.cart-total2 {
  display: none; }

/*================  Cart  ===============*/
.cart {
  position: relative; }
  .cart > button {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    width: 100%;
    /*background: #377035;*/
    color: #FFF;
    line-height: 70px;
    height: 70px;
    padding-right: 25px; }
    .cart > button::-moz-focus-inner {
      border: none;
      padding: 0; }
    .cart > button strong {
      font-size: 20px; }
    .cart > button strong, .cart > button .cart-total3 {
      position: relative;
      top: -8px; }
    .cart > button i {
      font-size: 41px;
      color: #fff;
      margin-right: 14px;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .cart > button .cart-total3 {
      font-size: 12px;
      color: #fff; }
    .cart > button .fa-angle-down {
      color: #FFF;
      font-size: 15px;
      float: right;
      margin-right: 0; }
    .cart > button:hover i, .cart.open > button i {
      color: #FFF; }

/*================  Cart DropDown ===============*/
.cart ul > li:first-child tr {
  border-bottom: 1px solid #DDD; }

.cart td {
  font-size: 13px; }
  .cart td .name a {
    font-size: 14px; }
  .cart td strong {
    font-size: 12px; }

.cart .total td {
  border: 0;
  padding: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #fff; }

.cart .price-cart {
  color: #f50d29;
  font-weight: bold; }

.cart .dropdown-menu {
  z-index: 1001;
  min-width: 260px; }
  .cart .dropdown-menu img {
    max-width: 50px; }
  .cart .dropdown-menu tr .text-center button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .cart .dropdown-menu table {
    margin-bottom: 10px; }
  .cart .dropdown-menu li > div {
    padding: 0 10px; }
  .cart .dropdown-menu li p {
    margin: 20px 0; }

.cart .dropdown-menu .name a:hover {
  color: #f50d29;
  background: transparent; }

.cart .table.total tr:nth-child(4) td strong,
.cart .table.total tr:nth-child(4) td {
  font-weight: bold;
  font-size: 20px;
  font-style: normal; }

.cart-q {
  max-width: 100px;
  float: none;
  display: inline-block;
  margin-right: 3px; }

.shoping_cart td {
  vertical-align: middle !important; }

@media (max-width: 1199px) {
  .cart > button strong {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
   /* Responsivo Ipad */


  /*Fim Box verde*/

  .cinza_1_fr{
    font-size: 19px !important;
  }
  .branco_1_fr{
    font-size: 20px !important;
  }
   .comercial{
    font-size: 15px !important;
    float: left;
  }
  .num{
    padding-top: 10px;
  }
  .telefone_mini_fr{
    padding-top: 3px;
    padding-left: 6px;
  }
  #icon-tel{
    margin-left: 15px;
    margin-top: 17px;
    float: left;
    text-align: center;
    width: 30px;
    height: 30px;
  }
  .cart > button i {
    font-size: 32px; } 

  }
@media (max-width: 767px) {
  .cart {
    position: fixed;
    top: 0;
    right: 10px;
    margin: 0;
    z-index: 91;
    border-left: none; }
    .cart > button {
      line-height: 50px;
      height: 50px;
      padding: 0 10px; }
      .cart > button .fa-angle-down {
        display: none; }
    .cart .dropdown-menu {
      max-height: 300px;
      overflow: auto; } }
/*=================== Menu gadget ===================*/
.menu-icon {
  position: relative;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 30px;
  padding: 10px 17px;
  background: #377035; }
  .menu-icon.active:after {
    content: "\f106"; }
  .menu-icon:after {
    float: right;
    content: "\f107";
    font-family: "FontAwesome";
    margin-top: 0;
    display: inline-block;
    text-align: center;
    width: 1.25em;
    font-size: 26px;
    color: #fff; }

.menu-gadget {
  display: none;
  margin: 15px 0; }

.menu-gadget .menu ul ul a {
  padding-left: 60px !important; }

.menu-gadget .menu {
  padding: 0;
  display: none;
  margin: 0; }
  .menu-gadget .menu ul {
    width: auto;
    padding: 0;
    display: none; }
  .menu-gadget .menu li {
    position: relative;
    list-style-type: none; }
    .menu-gadget .menu li i {
      position: absolute;
      display: block;
      top: 8px;
      right: 5px;
      height: 24px;
      width: 24px;
      font-size: 21px;
      padding: 0 20px;
      cursor: pointer;
      color: #fff;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .menu-gadget .menu li i:hover {
        color: #f50d29; }
    .menu-gadget .menu li.active > a, .menu-gadget .menu li > a:hover {
      background:#377035;
      color: #fff; }
  .menu-gadget .menu a {
    padding: 10px 15px;
    display: block;
    border-top: 1px solid #e5e5e5;
    color: #fff;
    font-size: 14px;
    background: #333333; }
  .menu-gadget .menu li li a {
    padding: 10px 15px 10px 45px; }
  .menu-gadget .menu li li:last-child {
    padding-bottom: 0; }
  .menu-gadget .menu li li li a {
    padding: 10px 15px 10px 35px; }

.menu-gadget .menu li i.fa-angle-up:before {
  content: "" !important; }

/*========================================================
                      Menu styles
=========================================================*/
.nav__primary {
  display: none;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 5; }
  .nav__primary ul {
    list-style: none;
    margin: 0;
    padding: 0; }

/*================ Menu  ===============*/


/*================ Categorias do Menu ===============*/
  

  /*Primeira Categoria*/
  
  .nav__primary .menu li:nth-child(1):nth-last-child(6) a:hover {
      background-color:#3ab849;
      color:#fff;
  }
  .nav__primary .menu li:nth-child(1):nth-last-child(6) a:hover:before{
    color:#B1C1C2;
  }
  .nav__primary .menu li:nth-child(1):nth-last-child(6) a:before {
    color:#3ab849;
  }

  /*Segunda Categoria*/  
  .nav__primary .menu li:nth-child(2):nth-last-child(5) a:hover{
      background-color:#424242;
      color:#fff;
  }
  .nav__primary .menu li:nth-child(2):nth-last-child(5) a:hover:before{
    color:#B1C1C2;
  }
   .nav__primary .menu li:nth-child(2):nth-last-child(5) a:before{
      color:#424242;
  }
  
  /*Terceira Categoria*/
  .nav__primary .menu li:nth-child(3):nth-last-child(4) a:hover{
      background-color:#697b91;
      color:#fff;
  }
  .nav__primary .menu li:nth-child(3):nth-last-child(4) a:hover:before{
    color:#B1C1C2;
  }
  .nav__primary .menu li:nth-child(3):nth-last-child(4) a:before{
      color:#697b91;
  }
  
  /*Quarta Categoria*/
  .nav__primary .menu li:nth-child(4):nth-last-child(3) a:hover{
      background-color:#d7da00;
      color:#fff;
  }
  .nav__primary .menu li:nth-child(4):nth-last-child(3) a:hover:before{
    color:#B1C1C2;
  }
  .nav__primary .menu li:nth-child(4):nth-last-child(3) a:before{
      color:#d7da00;
  }
  
  /*Quinta Categoria*/
  .nav__primary .menu li:nth-child(5):nth-last-child(2) a:hover{
      background-color:#e89223;
      color:#fff;
  }
  .nav__primary .menu li:nth-child(5):nth-last-child(2) a:hover:before{
    color:#B1C1C2;
  }
   .nav__primary .menu li:nth-child(5):nth-last-child(2) a:before{
      color:#e89223;
  }

  /*Sexta Categoria faltando inserir!!!*/
   
   .nav__primary .menu li:nth-child(6):nth-last-child(1) a:hover{
      background-color:#008fc8;
      color:#fff;
  }
  .nav__primary .menu li:nth-child(6):nth-last-child(1) a:hover:before{
    color:#B1C1C2;
  }
   .nav__primary .menu li:nth-child(6):nth-last-child(1) a:before{
      color:#008fc8;
  }



.nav__primary .menu li {
  position: relative;
  border-bottom: 1px solid #000; }
  /*.nav__primary .menu li:first-child {
  border-top: 1px solid #000; }
  */
  /*.nav__primary .menu li.sfHover > a, .nav__primary .menu li > a:hover, .nav__primary .menu li > a.active {
  background: #00b7e8; }*/
.nav__primary .menu li.sfHover > a:before, /*.nav__primary .menu li > a:hover:before,.nav__primary .menu li > a.active:before*/ {
  color: #333; }

.nav__primary .menu li > a {
  display: block;
  background: #333333;
  color: #FFF;
  font: 400 17px/20px "Noto Sans", sans-serif;
  padding: 25px 5px 25px 30px; }

.nav__primary .menu > li > a {
  position: relative; }

.nav__primary .menu > li > a:before {
  content: '\f101';
  font-size: 22px;
  margin-right: 12px;
  /*color: fff;*/
  font-family: "FontAwesome";
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }

/*================ Sub-menu lvl1  ===============*/
.nav__primary .menu ul {
  display: none;
  position: absolute;
  z-index: 99;
  left: 100%;
  top: 0;
  width: 100%;
  margin-left: 7px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 768px) and (max-width: 991px) {
  .nav__primary .menu li > a {
    padding-left: 10px;
    font-size: 15px; } }
@media (max-width: 767px) {
  .nav__primary .menu {
    display: none; }

  .menu-gadget {
    display: block; } }
/*==================  Stuck menu  ======================*/
.isStuck {
  z-index: 999; }

@media only screen and (max-width: 991px) {
  .isStuck {
    display: none !important; } }
/*========================================================
                      Content styles
=========================================================*/
#page {
  height: auto;
  background: #f2f2f2;
  overflow: hidden; }

aside .product-layout {
  padding-left: 0;
  padding-right: 0; }

#container > .container {
  width: 100%;
  padding: 0; }

aside .container {
  width: 100%;
  padding: 0; }
  aside .container .quickview {
    display: none; }

.header_modules {
  padding-top: 40px; }

.information-information h3 {
  text-transform: uppercase; }

/*==================  Marked List  ======================*/
.box.account ul, .box.affilate ul {
  padding: 0;
  list-style-type: none; }
  .box.account ul a, .box.affilate ul a {
    position: relative;
    border-bottom: 1px solid #DADADA;
    display: block;
    padding: 13px 15px; }
    .box.account ul a:before, .box.affilate ul a:before {
      content: '\f054';
      margin-right: 10px;
      font-weight: 400;
      font-size: 10px;
      font-family: "FontAwesome";
      color: #377035;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
  .box.account ul a:hover, .box.affilate ul a:hover {
    color: #377035; }

.site-map-page #content ul, .manufacturer-content div, #content ul.list-unstyled {
  margin: 0;
  list-style-type: none; }
  .site-map-page #content ul a, .manufacturer-content div a, #content ul.list-unstyled a {
    position: relative; }
    .site-map-page #content ul a:before, .manufacturer-content div a:before, #content ul.list-unstyled a:before {
      content: '\f105';
      margin-right: 5px;
      font-weight: 400;
      font-size: 15px;
      font-family: "FontAwesome";
      color: #377035; }
      ul.list-unstyled a:hover{
        color: #377035;
      }

#content .product-info ul.list-unstyled a:before {
  display: none; }

@media (max-width: 767px) {

  .images-footer.despachamos,#link-click{
    text-align:center!important;
  }

  aside {
    margin-top: 20px; }
    aside .container {
      padding: 0;
      width: 100%; }

  #content [class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 20px; } }
/*========================================================
                        Buttons
=========================================================*/
.buttons {
  margin: 1em 0; }
  .buttons:before, .buttons:after {
    display: table;
    content: "";
    line-height: 0; }
  .buttons:after {
    clear: both; }

.input-group-btn .btn {
  padding: 7px 12px; }
  .input-group-btn .btn i {
    font-size: 15px;
    line-height: 18px; }

/*================   Default Buttons BEGIN   ===============*/
.btn-danger,
.btn-primary,
.btn-info,
.btn-default {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  text-shadow: none;
  border-radius: 0;
  background: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
    
   }
   .btn-danger{
    background-color: unset !important;
   }
  .btn-danger::-moz-focus-inner,
  .btn-primary::-moz-focus-inner,
  .btn-info::-moz-focus-inner,
  .btn-default::-moz-focus-inner {
    border: none;
    padding: 0; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary,
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger,
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info,
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled],
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  text-shadow: none;
  box-shadow: none;
  background: none; }

.btn:visited,
.btn {
  font-size: 14px;
  color: #FFF;
  /*background: #00b7e8;*/
  text-shadow: none;
  border-radius: 0;
  border: none;
  padding: 12px 16px;
  outline: none; }

.btn:hover,
.btn:focus {
  background: #377035;
  color: #FFF;
  outline: none; }

.home-btn {
  display: inline-block;
  font: 700 18px/24px "Noto Sans", sans-serif;
  color: #FFF;
  background: #00b7e8;
  padding: 13.5px 18px 13.5px 16px;
  letter-spacing: -0.36px; }
  .home-btn:hover {
    background: #333333;
    color: #FFF; }

/*================   Default Buttons END   ===============*/
/*================   Product Buttons BEGIN   ===============*/
.product-btn-add {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  text-align: center;
  font: 700 13px/24px "Noto Sans", sans-serif;
  /*background: #377035;*/
  color: #FFF;
  padding: 13px 5px;
  width: 100%;
  outline: none; }
  .btn.btn-icon:hover,#button-cart:hover{
    background-color: #f50d29!important;
  }
  .product-btn-add::-moz-focus-inner {
    border: none;
    padding: 0; }
  .product-btn-add i {
    font-size: 23px;
    margin-right: 5px; }
  .product-btn-add:hover {
    background:#f50d29!important; 
  }
  .product-btn-add:focus {
    outline: none; }

.product-btn {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #FFF;
  background: #377035; }
  .product-btn::-moz-focus-inner {
    border: none;
    padding: 0; }
  .product-btn + .product-btn {
    margin-left: 5px; }
  .product-btn:hover {
    background:#3BCE42 ; }

.product-thumb .quickview {
  background: #377035;
  text-align: center; }
  .product-thumb .quickview:hover {
    color: #FFF;
  background: #3BCE42;
}

/*================   Product Buttons END   ===============*/
#compare-total {
  display: inline-block;
  font-size: 17px;
  color: #FFF;
  font-weight: 600;
  padding: 15px 20px;
  background: #377035;
  margin-left: 10px; }
  #compare-total:hover {
    background:#42B856; }

/*========================================================
                 Responsive styles Buttons
=========================================================*/
@media (max-width: 991px) and (min-width: 768px){
  .product-btn{
     width: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .account-wishlist table td .btn {
    padding: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .table-bordered > tbody > tr > .text-right {
    padding: 5px; }

  .account-wishlist table td .btn {
    padding: 6px; } }
@media (max-width: 410px) {
  .account-address .table td a {
    display: block; }
    .account-address .table td a + a {
      margin-top: 5px; } }
@media (max-width: 400px) {
  .buttons .pull-left, .buttons .pull-right {
    float: none !important;
    margin-top: 10px; } }
/*========================================================
                      Banners
=========================================================*/
.banner-1 .banner-box, .banner-2 .banner-box {
  position: relative;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .banner-1 .banner-box > a, .banner-2 .banner-box > a {
    display: block; }

.banner-1 .banner-box {
  background: #f2f2f2; }
  .banner-1 .banner-box .s-desc {
    background: -moz-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(245, 13, 41, 0) 2%, #f50d29 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 13, 41, 0)), color-stop(2%, rgba(245, 13, 41, 0)), color-stop(100%, #f50d29));
    background: -webkit-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(245, 13, 41, 0) 2%, #f50d29 100%);
    background: -o-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(245, 13, 41, 0) 2%, #f50d29 100%);
    background: -ms-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(245, 13, 41, 0) 2%, #f50d29 100%);
    background: linear-gradient(to bottom, rgba(245, 13, 41, 0) 0%, rgba(245, 13, 41, 0) 2%, #f50d29 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f50d29', endColorstr='#f50d29', GradientType=0); }

.banner-2 .banner-box {
  background: #f2f2f2;}
  .banner-2 .banner-box .s-desc {
    background: -moz-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(240, 16, 45, 0) 2%, #00b7e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 13, 41, 0)), color-stop(2%, rgba(240, 16, 45, 0)), color-stop(100%, #00b7e8));
    background: -webkit-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(240, 16, 45, 0) 2%, #00b7e8 100%);
    background: -o-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(240, 16, 45, 0) 2%, #00b7e8 100%);
    background: -ms-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(240, 16, 45, 0) 2%, #00b7e8 100%);
    background: linear-gradient(to bottom, rgba(245, 13, 41, 0) 0%, rgba(240, 16, 45, 0) 2%, #00b7e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f50d29', endColorstr='#00b7e8', GradientType=0); }

.banner-1 .s-desc, .banner-2 .s-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 5px 10px 28px; }
  .banner-1 .s-desc h3, .banner-2 .s-desc h3 {
    font: 700 29px/39px "Noto Sans", sans-serif;
    color: #FFF;
    margin: 0; }

.header_modules .col-sm-3 + .col-sm-3 + .col-sm-3 {
  margin-top: 30px; }

.banner-1 .banner-box:hover, .banner-2 .banner-box:hover {
  background: #f2f2f2; }
  .banner-1 .banner-box:hover .s-desc, .banner-2 .banner-box:hover .s-desc {
    background: -moz-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(241, 14, 41, 0) 2%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 13, 41, 0)), color-stop(2%, rgba(241, 14, 41, 0)), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(241, 14, 41, 0) 2%, #f2f2f2 100%);
    background: -o-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(241, 14, 41, 0) 2%, #f2f2f2 100%);
    background: -ms-linear-gradient(top, rgba(245, 13, 41, 0) 0%, rgba(241, 14, 41, 0) 2%, #f2f2f2 100%);
    background: linear-gradient(to bottom, rgba(245, 13, 41, 0) 0%, rgba(241, 14, 41, 0) 2%, #f2f2f2 100%);
    }

.banner-5 {
  width: 50%;
  margin-top: 30px; }
  .banner-5 .banner-box {
    position: relative; }
  .banner-5 .s-desc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 25px 240px 30px 30px;
    color: #FFF; }
    .banner-5 .s-desc h3 {
      color: #FFF;
      margin: 0;
      font: 700 29px/30px "Noto Sans", sans-serif; }
      .banner-5 .s-desc h3 + p {
        margin: 17px 0 0; }
    .banner-5 .s-desc a {
      display: inline-block;
      font: 700 18px/27px "Noto Sans", sans-serif;
      color: #FFF;
      border: 2px solid #FFF;
      letter-spacing: -0.36px;
      padding: 10px 15px;
      margin-top: 29px; }
      .banner-5 .s-desc a:hover {
        background: #FFF;
        color: #333333; }

/*========================================================
                   Responsive Banners
=========================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
  .banner-5 .s-desc {
    padding: 15px 140px 30px 20px; }
    .banner-5 .s-desc a {
      margin-top: 7px; }

  .banner-1 .s-desc, .banner-2 .s-desc {
    padding-left: 18px; }
    .banner-1 .s-desc h3, .banner-2 .s-desc h3 {
      font-size: 24px;
      line-height: 34px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .banner-1 .s-desc, .banner-2 .s-desc {
    padding-left: 8px; }
    .banner-1 .s-desc h3, .banner-2 .s-desc h3 {
      font-size: 19px;
      line-height: 29px; }

  .banner-5 .s-desc {
    padding: 25px 10px 30px 20px; }
    .banner-5 .s-desc p {
      display: none; } }
@media (max-width: 767px) {
  .banner-1, .banner-2 {
    width: 50%;
    float: left;
    margin-top: 20px;
    text-align: center; }
    .banner-1 img, .banner-2 img {
      display: inline-block; }

  .banner-5 {
    width: 100%;
    text-align: center; }
    .banner-5 .banner-box {
      display: inline-block; }
    .banner-5 .s-desc {
      text-align: left; }
    .banner-5 img {
      display: inline-block; } }
@media (max-width: 600px) {
  .banner-5 img {
    width: 100%; }
  .banner-5 .s-desc {
    padding-right: 150px; } }
@media (max-width: 580px) {
  .banner-1 .s-desc, .banner-2 .s-desc {
    padding: 50px 5px 10px; }
    .banner-1 .s-desc h3, .banner-2 .s-desc h3 {
      font-size: 20px;
      line-height: 30px; } }
@media (max-width: 555px) {
  .banner-5 .s-desc {
    padding: 15px 50px 15px 15px; } }
@media (max-width: 490px) {
  .banner-5 p {
    display: none; } }
@media (min-width: 400px) and (max-width: 490px) {
  .banner-5 .s-desc {
    padding-top: 40px; } }
@media (max-width: 400px) {
  .banner-1 .s-desc h3, .banner-2 .s-desc h3 {
    font-size: 16px;
    line-height: 24px; } }
/*========================================================
                      HTML boxes
=========================================================*/
.box_html .sale_box {
  margin-top: 30px;
  background: #f50d29;
  color: #FFF;
  text-align: center;
  padding: 26px 57px 20px; }
  .box_html .sale_box h2, .box_html .sale_box h3 {
    color: #FFF;
    margin: 0; }
  .box_html .sale_box h2 {
    font: 700 99px/100px "Noto Sans", sans-serif; }
  .box_html .sale_box h3 {
    font: 700 69px/70px "Noto Sans", sans-serif; }

.box_html.about {
  background: #00b7e8;
  padding: 51px 0 62px;
  color: #FFF;
  margin-top: 40px; }
  .box_html.about h2 {
    color: #FFF;
    margin: 0;
    font: 700 49px/50px "Noto Sans", sans-serif; }
    .box_html.about h2 + p {
      margin: 16px 0 0; }

.box_html.events {
  background: #f50d29;
  padding: 51px 0 62px;
  color: #FFF; }
  .box_html.events .float-box:before, .box_html.events .float-box:after {
    display: table;
    content: "";
    line-height: 0; }
  .box_html.events .float-box:after {
    clear: both; }
  .box_html.events .float-box .box_aside {
    float: left;
    margin-right: 30px; }
  .box_html.events .float-box .box_cnt {
    overflow: hidden; }
  .box_html.events .icon {
    min-width: 70px;
    color: #FFF;
    font-size: 70px;
    line-height: 70px; }
  .box_html.events h2 {
    font: 700 49px/60px "Noto Sans", sans-serif;
    margin: 0;
    color: #FFF; }
    .box_html.events h2 + .row {
      margin-top: 30px; }
  .box_html.events h3 {
    font: 700 29px/39px "Noto Sans", sans-serif;
    color: #FFF;
    margin: 0; }
  .box_html.events .box_cnt + p {
    margin-top: 20px; }
  .box_html.events .home-btn {
    margin-top: 20px; }

.box_html.gmap {
  float: left;
  width: 75%;
  padding: 0 15px;
  margin-top: 40px; }

/*========================================================
               Responsive HTML boxes
=========================================================*/
@media (min-width: 375px) and (max-width: 1024px){

  #unidades{
    margin: auto!important;
    min-width:80%!important;
    font-size:15px!important;
    min-height: 37px!important;

  }

  #seta{
    width: 22px!important;
    height: 22px!important;
  }

  #p2, #p3, #p_2{
        font-size: 10px!important;
  }
  
  #p3{
    margin-bottom: 10px;
  }

   #p1{
    line-height: 24px!important;
    padding-top: 15px!important;
    font-size: 13px!important;
  }
  #cil{
      height:165px!important;
      margin-top:40px!important;
  }
  #box-gradiente{
   min-height: 212pt!important;
  }
  #wrap{
        margin-top: 44px!important;
  }

}
/*
@media (min-width: 1024px){
  #p2,#p_2 {
      font-size: 14px!important;
      max-width: 620px!important;
  }
  #p1{
    padding-top: 26px !important;
    font-size: 22px!important;
  }
  #cil{
    height:200px;
    margin-top: 23px!important;
  }
  #box-gradiente{
    max-height:235pt;
  }

}*/
@media (min-width: 992px) and (max-width: 1199px) {
  .box_html .sale_box {
    padding: 16px 17px 10px; }
    .box_html .sale_box h2 {
      font-size: 79px;
      line-height: 80px; }
    .box_html .sale_box h3 {
      font-size: 55px;
      line-height: 56px; }

  .box_html.events h3 {
    font-size: 27px; }

  .box_html.gmap {
    width: 66.6666667%; } }
@media (min-width: 768px) and (max-width: 991px) {
  .box_html .sale_box {
    padding: 26px 17px 21px; }
    .box_html .sale_box p {
      display: none; }
    .box_html .sale_box h2 {
      font-size: 69px;
      line-height: 70px; }
    .box_html .sale_box h3 {
      font-size: 45px;
      line-height: 46px; }
  .box_html.events .float-box .box_aside {
    margin-right: 15px; }
  .box_html.events .icon {
    min-width: 50px;
    font-size: 50px;
    line-height: 50px; }
  .box_html.events h3 {
    font-size: 20px;
    line-height: 26px; }

  .box_html.gmap {
    width: 58.3333%; } }
@media (max-width: 767px) {
  .box_html.events .col-sm-4 + .col-sm-4 {
    margin-top: 20px; }
  .box_html.events p {
    clear: both; }

  .box_html.gmap {
    float: none;
    width: 100%; } 

  }
@media (max-width: 450px) {
  .box_html .sale_box {
    padding: 16px 17px 10px; }
    .box_html .sale_box h2 {
      font-size: 79px;
      line-height: 80px; }
    .box_html .sale_box h3 {
      font-size: 55px;
      line-height: 56px; } }
/*========================================================
                      Product
=========================================================*/
.product-layout {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  margin-bottom: 30px; }

/*=================== Product Image ===================*/
.product-thumb .image {
  position: relative;
  text-align: center;
  background: #FFF; }
  .product-thumb .image > a {
    display: block; }
    .product-thumb .image > a img {
      -moz-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      margin-left: auto;
      margin-right: auto; }
    .product-thumb .image > a:hover img {
      opacity: 0.5; }

.product-grid .product-thumb .image {
  float: none; }

/*=================== Product Caption ===================*/
.product-thumb {
  background: #FFF;
  padding: 30px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .product-thumb h4, .product-thumb .name {
    font-size: 16px;
    line-height: 27px;
    color: #78797c; }
    .product-thumb h4 a:hover, .product-thumb .name a:hover {
      color: #f50d29; }
  .product-thumb .cart-button {
    margin-top: 8px; }
  .product-thumb .hover-buttons {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    opacity: 0;
    margin-top: -20px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    background: #FFF;
    padding: 0 30px 30px; }
  .product-thumb:hover {
    z-index: 1; }
    .product-thumb:hover .hover-buttons {
      opacity: 1;
      top: 100%; }

.latest .product-thumb .hover-buttons, .specials .product-thumb .hover-buttons {
  text-align: left; }

/*==================  Product List  ===================*/
.product-list .product-thumb .caption {
  overflow: hidden; }

.product-list .product-thumb:before, .product-list .product-thumb:after {
  display: table;
  content: "";
  line-height: 0; }
.product-list .product-thumb:after {
  clear: both; }
.product-list .product-thumb .image {
  width: 30%;
  float: left;
  margin-right: 30px; }
.product-list .product-thumb .cart-button {
  overflow: hidden; }
  .product-list .product-thumb .cart-button .product-btn-add {
    width: 50%; }
.product-list .product-thumb .hover-buttons {
  position: static;
  text-align: left;
  margin-top: 10px;
  padding: 0;
  opacity: 1; }

.related-slider .product-thumb .hover-buttons {
  position: static;
  margin-top: 10px;
  padding: 0;
  opacity: 1; }

/*==================  SALE, NEW Message ===================*/
.sale, .new_pr {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00b7e8!important;
  color: #FFF;
  line-height: 27px;
  padding: 0 8px;
  z-index: 10;
  text-transform: capitalize; }

/*=================== Product Price  ===================*/
.price {
  display: inline-block;
  font: 700 22px/26px "Noto Sans", sans-serif;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-align: center;
  color:#f50d29;
  margin-top: 5px; }

.price-section {
  font-size: 31px;
  color: #f50d29;
  line-height: normal;
  margin-bottom: 5px;
  padding-bottom: 5px; }
  .price-section .reward-block {
    font-size: 12px;
    color: #777; }

.price-new {
    color: red;
    font-weight: bold;
   }

.price-old {
  font-size:14px;
  color: #78797c;
  display: inline-block;
  text-decoration: line-through;
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  margin-left: -10px; }

.price-tax {
  font-size: 12px; }

.price-total {
  font-weight: bold; }

.price s {
  font-size: 15px; }

.prod-stock {
  color: #6BA239; }

.price-section span.reward {
  display: block;
  margin-top: 10px; }

.price-section span.reward {
  display: block; }

.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block; }

.table.table-bordered .price {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-width: inherit;
  text-align: right; }

/*=================== Product Rating ===================*/
.rating {
  line-height: 20px; }
  .rating .fa-stack {
    font-size: 11px;
    width: 0.9em; }
  .rating .fa-star {
    color: #00b7e8!important ;
    font-size: 11px; }
  .rating .fa-star + .fa-star-o {
    color: #00b7e8!important ; }
  .rating .fa-star-o {
    font-size: 11px; }
  .rating .none-star {
    color: #DADADA;
    font-size: 11px; }

.rating-section .rating .fa-stack {
  width: 1em;
  color: #00b7e8!important ; }

.fancybox-skin .fa-stack {
   color: #00b7e8!important ; }

.table-compare td.rating .fa-stack, .table-compare td.rating .fa-stack-2x {
  width: 1em;
  height: 1em;
  font-size: 1em; 
  color: #00b7e8!important;
}

/*=================== CUSTOM Block Products ===================*/
/*========================================================
               Responsive Styles Product
=========================================================*/
@media (max-width: 1200px) {
  .product-thumb .button-group button, .product-thumb .button-group button + button {
    width: 33.33%; } }
@media (max-width: 1199px) {
  .product-thumb .hover-buttons {
    position: static;
    margin-top: 10px;
    padding: 0;
    opacity: 1; }

  .product-carousel .product-thumb .hover-buttons .product-btn + .product-btn {
    margin-left: 19px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .product-thumb .price {
    font-size: 20px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .product-carousel .product-thumb .hover-buttons .product-btn + .product-btn {
    margin-left: 44px; }

  aside .product-thumb, aside .product-carousel .product-thumb {
    padding: 30px 15px; }
    aside .product-thumb .hover-buttons .product-btn, aside .product-carousel .product-thumb .hover-buttons .product-btn {
      width: 50px; }
      aside .product-thumb .hover-buttons .product-btn + .product-btn, aside .product-carousel .product-thumb .hover-buttons .product-btn + .product-btn {
        margin-left: 7px; } }
@media (max-width: 767px) {
  .product-thumb {
    padding: 10px 20px 10px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .product-thumb .hover-buttons {
      text-align: center; }

  .product-thumb .image {
    width: 80%;
    margin: 0 auto 20px; }

  .product-list .product-thumb .image,
  .product-grid .product-thumb .image {
    float: left;
    margin-right: 15px;
    width: 25%; }

  .product-layout {
    margin-bottom: 20px; }

  .product-layout:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .product-layout:hover .product-thumb {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

  .product-desc iframe {
    float: none;
    margin: 0 0 2em;
    max-width: 560px;
    width: 100% !important; } }
@media (max-width: 460px) {
  .product-list .product-thumb .cart-button .product-btn-add, .product-grid .product-thumb .cart-button .product-btn-add {
    width: 100%; }
  .product-list .product-thumb .hover-buttons, .product-grid .product-thumb .hover-buttons {
    text-align: center; } }
@media (max-width: 400px) {
  .product-list .product-thumb,
  .product-grid .product-thumb, aside .product-thumb {
    text-align: center; }
    .product-list .product-thumb .image,
    .product-grid .product-thumb .image, aside .product-thumb .image {
      float: none;
      width: 80%;
      margin: 0 auto 15px; } }
/*========================================================
                         Box
=========================================================*/
.box {
  margin-top: 40px; }
  .box .box-heading {
    margin: 0 0 30px;
    text-align: center;
    position: relative; }
    .box .box-heading h3 {
      margin: 0;
      font: 700 36px/30px "Noto Sans", sans-serif;
      /*padding: 20px 105px 20px 30px;*/
      background: #f2f2f2;
      color: #1f5442; }
  .box .name a:hover {
    color: #f50d29; }

aside .box .box-heading h3 {
  padding-right: 10px; }

aside .box .product-layout {
  width: 100%;
  margin-top: 30px; }
  aside .box .product-layout:first-child {
    margin-top: 0; }

.facebook-wr {
  width: 25%;
  padding: 0 15px;
  float: left; }
  .facebook-wr .box-heading {
    margin-bottom: 15px; }
    .facebook-wr .box-heading h3 {
      background: transparent;
      line-height: 38px;
      padding: 15px 100px 0 20px;
      color: #FFF; }
  .facebook-wr .box-content {
    padding: 6px 20px 0;
    background: #FFF; }
  .facebook-wr > div {
    background: #00b7e8;
    padding: 11px; }
  .facebook-wr .pvs {
    display: none !important; }

/*========================================================
                    Responsive Box
=========================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
  .facebook-wr {
    width: 33.3333333%; } }
@media (min-width: 768px) and (max-width: 991px) {
  .box.info .box-content ul a {
    padding: 13px 5px; 
  }

  }

  .facebook-wr {
    width: 41.6667%; } }
@media (min-width: 768px) and (max-width: 991px) {
  aside .box .box-heading h3 {
    padding: 20px 5px;
    font-size: 20px;
    line-height: 24px;
    text-align: center; } }
@media (max-width: 767px) {
  .box .box-heading h3 {
    padding: 20px 25px 20px 20px; }

  .latest .box-heading h3, .specials .box-heading h3 {
    padding: 20px 105px 20px 20px; } }
@media (max-width: 767px) {
  aside .box .box-heading {
    position: relative;
    cursor: pointer; }
    aside .box .box-heading:after {
      content: '\f055';
      position: absolute;
      right: 15px;
      top: 28px;
      font-size: 21px;
      float: right;
      font-family: "FontAwesome";
      color: #353535; }
    aside .box .box-heading.active:after {
      content: '\f056'; }

  .facebook-wr {
    width: 50%;
    margin: 0 auto;
    float: none;
    text-align: center; }
    .facebook-wr .box-heading {
      text-align: left; }
      .facebook-wr .box-heading h3 {
        padding-right: 50px; } }
@media (max-width: 565px) {
  .facebook-wr {
    width: 100%; } }
@media (max-width: 400px) {
  .latest .box-heading h3, .specials .box-heading h3, .box .box-heading h3 {
    font-size: 22px;
    line-height: 26px;
    padding-left: 15px; } }
/*==================   Parallax    ======================*/
.parallax > div {
  background-position: center 0;
  margin-left: 0 !important;
  background-repeat: no-repeat;
  width: auto !important; }
  .mobile .parallax > div, .tablet .parallax > div {
    background-position: 50% 0 !important;
    /*background-size: cover;*/ }
  @media (min-width: 2050px) {
    .parallax > div {
      background-size: cover; } }

.parallax1, .parallax2 {
  margin-top: -40px;
  padding: 30px 0;
  min-height: 388.875px;
  color: #FFF; }
.parallax1 p, .parallax2 p {
    width: 90%; }
  .parallax1 h2, .parallax2 h2 {
    color: #FFF;
    margin: 0;
    /*font: 700 49px/69px "Noto Sans", sans-serif;*/ }
    .parallax1 h2 + p, .parallax2 h2 + p {
      margin: 15px 0 0; }
  .parallax1 .home-btn, .parallax2 .home-btn {
    margin-top: 30px; }

@media (max-width: 767px) {
  .parallax > div {
    background-position: center 0 !important;
    background-size: cover; }

  .parallax1, .parallax2 {
    padding: 60px 0; }
    .parallax1 p, .parallax2 p {
      width: 100%; } }
@media (max-width: 505px) {
  .parallax1 h2, .parallax2 h2 {
    font-size: 39px;
    line-height: 49px; } }
/*==================  GOOGLE MAP  ======================*/
.map {
  border: 1px solid #fff; }
  .map_model {
    height: 365px; }
    .map_model img {
      max-width: none !important; }
    @media (max-width: 767px) {
      .map_model {
        height: 250px; } }
    @media (max-width: 479px) {
      .map_model {
        height: 200px; } }
  .map_locations {
    display: none; }

/*==================   Lazy Img    ======================*/
.lazy {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  background: transparent url(../image/lazy-loader.gif) no-repeat center center; }
  .lazy img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
    opacity: 0; }
  .lazy.lazy-loaded {
    background: none; }
    .lazy.lazy-loaded img {
      opacity: 1; }

/*========================================================
                         Footer
=========================================================*/
footer {
  font-family: 'ubuntu';
  padding-top: 45px;
  background-color: #3c3c3c;
   }
  footer h5 {
   font-family: 'Ubuntu', sans-serif;
    padding-left:16px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    color: #C2C4C4; }
    footer h5 + ul {
      margin-top: 13px; }
  footer a:hover {
    color: #000; }
  footer ul li + li {
    /*margin-top: 9px;*/ }

.footer_box ul li + li {
  /*margin-top: 16px;*/ }
.footer_box ul li a {
     font-family: 'Ubuntu', sans-serif;
    position: relative;
    font-size: 16px;
    /* font-weight: bold; */
    line-height: 27px;
    padding-left: 18px;
    color: #C2C4C4;
}
  /*.footer_box ul li a:before {
    content: '\f054';
    position: absolute;
    left: 0;
    top: 0;
    color:;
    font-family: "FontAwesome";
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }*/
    
  .footer_box ul li a:hover {
    color: #377035; }
    .footer_box ul li a:hover:before {
      color: #377035; }

.bg-shadow {
  padding: 29px 0 40px;
  background: #3c3c3c;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); }

.copyright br {
  display: none; }

.copyright {
  text-align:center;
  font-size: 12px;
  line-height: 20px;
  padding-top:2%;
  background-color: #272727;
}
#link-click{
  text-align:left;
  padding-bottom:1%;
}

.images-footer{
  padding-bottom:1%;
}
.images-footer.despachamos{
  text-align:left;
}
  .copyright a {    
   font-size: 15px;
   color: #C2C4C4;

  }
    .copyright a:hover {
      text-decoration: underline;
      color: #fff;
       }
  #clickrow{
    height: 0px;
    text-align:left;
    padding-top: 17px;
  }     

/*========================================================
                    Responsive  Footer
=========================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
  footer h5 {
    font-size: 20px; } }
@media (min-width: 768px) and (max-width: 991px) {
  footer h5 {
    font-size: 19px; }

  footer .footer_box {
    margin-top: 15px; } }
@media (max-width: 767px) {
  footer {
    padding-top: 0;
    margin-top: 20px; }

  .box-right-bottom,
  footer > .bg-shadow {
    /*display: none;*/ }

  footer {
    text-align: center; }
    footer .copyright {
      margin-top: 0;
      /*border-top: 1px solid #FFF;*/ } }
/*==================     ToTop     ======================*/
.toTop {
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background: #377035;
  position: fixed;
  right: 66px;
  bottom: 100px;
  display: none;
  overflow: hidden;
  text-decoration: none;
  z-index: 20;
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.4); }
  .toTop:hover {
    background: #377035 !important;
    text-decoration: none;
    color: #fff; }

.toTop:visited, .toTop:focus, .toTop:active {
  color: #fff;
  background: #377035; }

@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important; } }
/* alert */
.alert {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px 14px 8px 14px;
  z-index: 30; }

.alert-warning {
  background-color: #ec710d;
  border-color: #d45634; }

#product .alert {
  position: relative; }

/*=================== Breadcrumb ===================*/
.breadcrumb {
  margin: 15px 0;
  padding: 8px 0;
  border-radius: 0;
  border: 1px solid #e9e9e9;
  background: #fff; }
  .breadcrumb a {
    display: inline-block; }
  .breadcrumb a:hover {
    color: #f50d29; }
  .breadcrumb i {
    font-size: 15px; }
  .breadcrumb > li {
    padding: 0 30px;
    position: relative;
    white-space: nowrap; }
    .breadcrumb > li + li:before {
      content: '';
      padding: 0; }
    .breadcrumb > li:after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      right: 0;
      width: 27px;
      height: 25px;
      border-right: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.pagination {
  margin: 0; }

td .name a {
  font-size: 13px; }

td .price, .price b {
  font-size: 18px;
  padding-bottom: 0; }

/*************************/
.btn-xs {
  font-size: 9px; }

.btn-sm {
  font-size: 10.2px; }

.btn-lg {
  padding: 10px 16px;
  font-size: 15px; }

.dropdown-menu {
  border-radius: 0; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
  font-size: 12px; }

.btn-group > .btn-xs {
  font-size: 9px; }

.btn-group > .btn-sm {
  font-size: 10.2px; }

.btn-group > .btn-lg {
  font-size: 15px; }

#list-view.active,
#grid-view.active {
  color: #377035; }

#list-view,
#grid-view {
  background: none;
  box-shadow: none;
  color: #777; }

/* list group */
.list-group a {
  border: 1px solid #e9e9e9;
  color: #888888;
  padding: 8px 12px; }

.list-group a.active, .list-group a.active:hover, .list-group a:hover {
  color: #444444;
  background: #eeeeee;
  border: 1px solid #e9e9e9;
  text-shadow: 0 1px 0 #FFF; }

/* carousel */
.carousel-caption {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #000000; }

.carousel-control .icon-prev:before {
  content: '\f053';
  font-family: FontAwesome; }

.carousel-control .icon-next:before {
  content: '\f054';
  font-family: FontAwesome; }

.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0; }

.thumbnails > li {
  margin-left: 20px; }

.thumbnails {
  margin-left: -20px; }

.thumbnails > img {
  width: 100%; }

.thumbnail a {
  display: block; }
  .thumbnail a:hover {
    opacity: .5; }

.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #e9e9e9; }

.image-additional {
  max-width: 78px; }

.thumbnails .image-additional {
  float: left;
  margin-left: 20px; }

.flexslider .slides img {
  width: inherit; }

.flexslider.carousel .slides img {
  width: auto; }

.slides {
  padding: 0;
  margin: 0;
  list-style: none; }

.slides li {
  text-align: center; }

.slides li img {
  text-align: center; }

.flex-direction-nav a:before {
  line-height: 40px; }

/** dropdown **/
.dropdown-menu > li > a {
  text-transform: uppercase;
  color: #ffffff;
  padding: 3px 10px; }

/***************PRODUCT PAGE**********************/
.quickview_description {
  margin-top: 15px; }

.quickview_description iframe,
.product-desc iframe {
  width: 40% !important;
  height: 200px !important;
  float: left;
  margin-right: 2em; }

.quickview-style .inf {
  font-size: 14px;
  margin-bottom: 10px; }

.quickview-style .cart-button {
  margin-top: 10px; }
  .quickview-style .cart-button .btn {
    padding: 0;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center; }

.product-desc ul {
  list-style: inside; }

.product-section {
  margin-bottom: 3em; }

.product-content-columns {
  margin-bottom: 3em; }

.product-share {
  clear: both;
  padding: 0;
  height: 32px;
  margin-top: 1em; }
  .product-share li {
    display: inline-block;
    text-align: center;
    margin-right: 3px; }
    .product-share li a {
      display: block;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background: #ccc;
      color: #fff; }
      .product-share li a:hover {
        background: #383838; }
    .product-share li i {
      line-height: 32px;
      font-size: 18px; }

.product-buttons {
  clear: both;
  overflow: hidden;
  margin: 0 -5px 1em;
  padding: 0 0 5px; }
  .product-buttons li {
    float: left;
    width: 50%;
    padding: 0 5px;
    list-style: none; }
    .product-buttons li button {
      width: 100%; }

ul.product-section.list-unstyled li a i {
  display: none; }

.product-section_title {
      font: 700 36px/30px "Noto Sans", sans-serif;
      color: #1f5442;



  margin-bottom: 1em;
  text-align: center;
  font-weight:bold;
  font-size:30px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
/*
#reviews_form_title:hover {
  color: #377035; }
*/

.review-form-title {
  /*color: #377035;*/
  text-align: center; }
  
  #review_star{
   color: #00b7e8!important;
  }

#reviews_form_title {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e9e9e9;
  padding: 0 10px 5px;
  display: inline-block;
  text-align: center; }

#reviews_form_title:before {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #e9e9e9;
  content: '';
  margin-left: -10px; }

.product-review-form {
  display: none; }

.bootstrap-datetimepicker-widget td span:hover {
  background: none !important; }

.product_page #button-cart {
  width: 100%; }

.bx-wrapper .bx-viewport {
  background-color: transparent; }

.bx-wrapper .bx-controls-direction a i {
  line-height: 40px;
  vertical-align: top; }

.bx-wrapper .bx-controls-direction a:hover {
  color: #f50d29; }

.bx-wrapper .bx-controls-direction a {
  background: #fff;
  border: 1px solid #e9e9e9;
  color: #babcbf;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 40px;
  font-size: 15px; }

@media (max-width: 767px) {
  .bx-wrapper .bx-controls-direction .bx-prev i, .bx-wrapper .bx-controls-direction .bx-next i {
    display: none; }
  .bx-wrapper .bx-controls-direction .bx-prev:before, .bx-wrapper .bx-controls-direction .bx-next:before {
    font-family: "FontAwesome"; }

  .bx-wrapper .bx-controls-direction .bx-prev:before {
    content: '\f104'; }

  .bx-wrapper .bx-controls-direction .bx-next:before {
    content: '\f105'; } }
.product-gallery:before, .product-gallery:after {
  display: table;
  content: "";
  line-height: 0; }
.product-gallery:after {
  clear: both; }

#full_gallery {
  border: 1px solid #e9e9e9; }

#default_gallery {
  /*border:1px solid #ececec;*/
  margin-bottom: 30px; }

#default_gallery .bx-controls-direction,
#default_gallery .bx-controls {
  height: 100%; }

#default_gallery .image-thumb .bx-wrapper .bx-prev,
#default_gallery .image-thumb .bx-wrapper .bx-next {
  top: auto;
  bottom: 0;
  width: 100%;
  height: 34px;
  line-height: 34px;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  right: auto;
  margin: 0;
  left: auto;
  border: 0; }

#default_gallery .image-thumb .bx-wrapper .bx-prev:hover,
#default_gallery .image-thumb .bx-wrapper .bx-next:hover {
  background: #f50d29; }

#default_gallery .image-thumb .bx-wrapper .bx-prev {
  top: 0;
  bottom: auto;
  right: auto; }

#default_gallery .image-thumb .bx-wrapper .bx-prev i,
#default_gallery .image-thumb .bx-wrapper .bx-next i {
  line-height: 34px;
  color: #fff;
  display: block; }

#default_gallery .image-thumb img:hover,
#default_gallery .image-thumb .active img {
  border-color: #f50d29; }

#default_gallery .image-thumb img {
  border: 1px solid #e9e9e9; }

#default_gallery .image-thumb {
  padding: 0;
  float: left;
  padding-right: 1em;
  width: 16%; }

.product_page #default_gallery .image {
  float: left;
  width: 84%;
  background: none; }

.zoomWindow {
  background-color: #fff; }

#image-additional {
  margin: 0;
  padding: 0; }

#image-additional li {
  float: none;
  list-style: none; }

#default_gallery .bx-wrapper {
  margin: 0 !important; }

#default_gallery img {
  background-color: #fff;
  width: 100%; }

.product-reviews .review-item {
  margin-bottom: 2em;
  padding-bottom: 2em; }

.review-score .fa-stack {
  width: 2em;
  height: 1.5em;
  color: #00b7e8!important ; }

.product_page h1 {
  margin-bottom: 20px;
  color: #333;
  line-height: normal; }

.product-section a:hover {
  color: #f50d29; }

.reward-block span {
  display: block; }

#product .input-group[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px; }

#product h3 {
  color: #f50d29; }

.ps-carousel-item img {
  background-color: #EFEEEE; }

.ps-zoom-pan-rotate img {
  background-color: #EFEEEE; }

#full_gallery {
  display: none; }

/***************BOX**********************/
aside .box .box-product > div {
  width: 100%; }

/***************PRODUCT CATEGORY PAGE**********************/
.zoomWrapper {
  vertical-align: top; }

#default_gallery .image {
  background-color: #efeeee;
  width: 100%;
  overflow: hidden;
  border: 1px solid #e9e9e9;
  margin-bottom: 1px; }

#default_gallery .image img {
  vertical-align: top;
  width: 100% !important;
  height: auto !important;
  display: block;
  position: relative !important; }

.product_page h1.product-title {
  margin-bottom: 0; 
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.font_spec{
  font-family: 'Ubuntu', sans-serif;
  color:#9898A6!important;
}
#product_body{
  font-family: 'Ubuntu', sans-serif!important;
}

.font_review{
  font-family: 'Ubuntu', sans-serif;
  color:#1f5442;
}
.review-author{
   color:#9898A6;
}
.review-date{
   color:#9898A6;
}
.review-item .col-sm-9{
  color:#1f5442;
}

.general_info {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 20px; 
    color:#9898A6;
}
  
  .rating-section{
    color:#9898A6;
  }

.fancybox-skin .rating {
  margin: 10px 0; }

.general_info .product-section,
.general_info .price-section {
  margin: 0 0 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9; }

.box-subcat {
  padding: 0;
  margin: 0; }
  .box-subcat li {
    list-style: none;
    text-align: center;
    margin-bottom: 30px; }
    .box-subcat li .name a {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase; }
      .box-subcat li .name a:hover {
        color: #f50d29; }
    .box-subcat li .image {
      margin-bottom: 10px;
      border: 2px solid #e9e9e9;
      padding: 9px;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .box-subcat li .image img {
        background-color: #fbfbfb; }
      .box-subcat li .image:hover {
        border-color: #f50d29; }
    .box-subcat li.first-in-line {
      clear: left; }

.img-thumbnail {
  border: 0;
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 0; }

.product-filter {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 0;
  margin-bottom: 12px; }
  .product-filter label {
    font-size: 13px;
    font-weight: bold;
    padding-top: 7px; }

.nav-cat {
  margin-bottom: 13px; }

.nav-cat .nam-page {
  margin: 5px 0 5px 10px; }

.button-view button:active,
.button-view button:focus,
.button-view button:hover {
  color: #f50d29; }

.button-view button {
  border: 0;
  background: none;
  font-size: 27px;
  padding: 0;
  margin: 0 5px; }

.button-view button i {
  vertical-align: top;
  border: 0;
  background: none;
  font-size: 27px; }

/*======== RELATED PRODUCTS =============*/
.related-slider {
  padding: 0 15px;
  margin: 0;
  list-style-type: none; }

.related-products li .product-thumb {
  margin-bottom: 0; }

/*======== PRODUCT TABS =============*/
.tabs {
  margin-top: 10px; }

.tabs .tab-heading i {
  font-size: 26px;
  color: #7e7e7e;
  float: right;
  margin-top: 5px; }

.tabs .tab-heading {
  padding: 13px 20px;
  line-height: 32px;
  color: #323232;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e9e9e9;
  border-bottom: 4px solid #000;
  background-color: #f9f9f9; }

.tabs .tab-content {
  padding: 20px 0; }

#review td {
  font-size: 13px; }

.rating a {
  cursor: pointer; }

/*======== BLOCK COMPARE =============*/
.compare-block {
  margin-bottom: 20px; }

.compare-block .image {
  margin-right: 10px; }

.compare-block .remove a {
  font-size: 19px;
  line-height: normal; }

.compare-info {
  width: 100%; }

.block-compare {
  position: relative;
  overflow: hidden; }

.table .rating {
  line-height: 20px; }

@media (max-width: 991px) {
  .table-compare {
    overflow-x: scroll;
    overflow-y: hidden; }
    .table-compare .table.table-bordered td + td {
      min-width: 270px; } }
@media (max-width: 767px) {
  .table.table-bordered {
    margin-bottom: 10px; }

  .table-responsive {
    border: none; }
    .table-responsive .table-bordered {
      border: 1px solid #e9e9e9; } }
/************** QUICKVIEW **************************/
.quick_info {
  display: none; }

.fancybox-skin:hover .fancybox-nav span {
  visibility: visible; }

.fancybox-nav {
  height: 40px;
  top: 50%;
  width: 40px; }

.quickview_description {
  overflow: auto;
  max-height: 300px;
  border: 1px solid #e9e9e9;
  padding: 10px; }

/****** ABOUT PAGE*****/
.extra-wrap {
  overflow: hidden; }

.dropcap {
  background: none repeat scroll 0 0 #a8d7f3;
  border-radius: 0;
  color: #fff;
  font: 30px/36px "Roboto", serif;
  height: auto;
  margin: 0px 20px 30px 0;
  padding: 17px;
  width: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  display: block;
  float: left; }

img.alignleft {
  float: left;
  margin: 0 20px 0px 0; }

.sm_hr {
  height: 1px;
  background-color: #e0e0e0;
  margin: 50px 0; }

.about-page h4 {
  margin: -5px 0 5px;
  line-height: 26px;
  color: #f50d29; }

.about-page {
  font-size: 14px;
  line-height: 26px; }

.about-page figure img {
  border: 1px solid #e9e9e9; }

.human_info figure,
.about-page figure {
  background: none repeat scroll 0 0 #fafafa;
  border: 1px solid #e9e9e9;
  padding: 12px;
  display: block;
  max-width: 254px;
  margin: 0 auto 12px;
  border-radius: 0; }
  .human_info figure a:hover,
  .about-page figure a:hover {
    opacity: .5; }

.human_info figure {
  float: left;
  margin-right: 20px; }

.about-page .excerpt {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px; }

.about-page h5 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 5px; }

.about-page i {
  color: #f50d29;
  display: block;
  float: left;
  font-size: 56px;
  margin-right: 15px;
  overflow: hidden; }

.clear {
  clear: both;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: 0;
  line-height: 0; }

.recent-posts {
  text-align: center; }

.testimonials .testi-item {
  margin-bottom: 30px; }

.testimonials .testi-item a {
  font-size: 14px; }

.testimonials .testi-meta {
  line-height: 18px;
  padding-left: 50px;
  display: block; }

.testimonials .user {
  text-transform: uppercase;
  font-size: 12px;
  color: #f50d29; }

.testimonials blockquote:after {
  content: '';
  position: absolute;
  display: block;
  width: 21px;
  height: 20px;
  bottom: -20px;
  left: 30px; }

.testimonials blockquote {
  border: 1px solid #e9e9e9;
  position: relative;
  margin-bottom: 30px; }

.terms_conditions_page p {
  margin-bottom: 20px; }

.terms_conditions_page h4 {
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #f50d29; }

.table.privacy_page td {
  border-top: 0;
  padding: 0 30px 30px; }

.privacy_page td:first-child {
  text-align: right; }

.privacy_page tr > td + td {
  border-left: 1px solid #e9e9e9; }

.privacy_page {
  font-size: 14px;
  line-height: 22px; }

.privacy_page h4 {
  max-width: 300px;
  float: right;
  margin: 0 0 10px;
  line-height: normal;
  text-transform: uppercase;
  font-size: 16px;
  color: #f50d29; }

/********** SITEMAP PAGE ******************/
.site-map-page #content ul li {
  padding: 5px 0; }

.site-map-page #content .breadcrumb li {
  padding: 0 20px; }
  .site-map-page #content .breadcrumb li i {
    display: none; }

.site-map-page #content ul li a {
  font-size: 13px; }

.site-map-page #content ul li a i {
  font-size: 15px;
  margin-right: 5px;
  color: #f50d29; }

.site-map-page #content ul li {
  list-style-type: none;
  font-size: 17px; }

/********/
.manufacturer-list {
  border: 1px solid #e9e9e9;
  margin-bottom: -1px; }

.manufacturer-heading {
  background: none repeat scroll 0 0 #f9f9f9;
  border-bottom: 1px solid #e9e9e9;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 6px;
  padding: 5px; }

.manufacturer-heading span {
  background: none repeat scroll 0 0 #f50d29;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 50px; }

.manufacturer-content a i {
  font-size: 15px;
  color: #f50d29;
  margin-right: 5px; }

.manufacturer-content {
  padding: 20px; }

/********** ACCOUNT ******************/
.well {
  background-color: #f9f9f9;
  border: 1px solid #e9e9e9;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 0;
  box-shadow: none; }
  .well .heading {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;
    padding-bottom: 15px; }
    .well .heading i {
      color: #f50d29;
      float: left;
      font-size: 56px;
      margin-right: 14px;
      line-height: 60px; }
    .well .heading h2 {
      font-size: 23px;
      font-weight: bold;
      color: #f50d29;
      margin: 0 0 5px; }
    .well .heading strong {
      font-weight: normal;
      font-style: italic; }
  .well p {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;
    padding-bottom: 15px; }
  .well a {
    display: inline-block;
    margin-top: 10px; }

#content ul.list-unstyled li {
  padding: 3px 0; }

#content ul.list-unstyled li a i {
  font-size: 17px;
  margin-right: 5px;
  color: #377035; }

.zoomWindow {
  z-index: 40 !important; }

.bootstrap-datetimepicker-widget {
  padding-bottom: 0; }
  .bootstrap-datetimepicker-widget ul {
    margin-bottom: 0; }

.datepicker .prev, .datepicker .next {
  cursor: pointer;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .datepicker .prev:hover, .datepicker .next:hover {
    color: #f50d29; }
.datepicker th {
  text-align: center; }
.datepicker .day {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer; }
  .datepicker .day:hover, .datepicker .day.active {
    color: #f50d29; }

.radio {
  line-height: 18px; }

/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%; }

  #column-left + #content .product-layout .col-md-3 {
    width: 50%; }

  #column-left + #content + #column-right .product-layout .col-md-3 {
    width: 100%; }

  #content + #column-right .product-layout .col-md-3 {
    width: 100%; } }
.fancybox-next {
  right: -60px; }

.fancybox-prev {
  left: -60px; }

input#input-voucher,
input#input-coupon {
  display: inline-block;
  width: 45%;
  margin-right: 5px; }

@media (max-width: 1200px) {
  .table th, .table td {
    padding: 8px; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
@media (min-width: 768px) {
  .box .box-content .last {
    clear: left; } }
@media (max-width: 1199px) {
  .button-view {
    margin-top: 10px; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .fb-like-box {
    width: 210px !important; }
    .fb-like-box > span, .fb-like-box > span > iframe {
      width: 100% !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .well .heading {
    text-align: center; }
    .well .heading h2 {
      font-size: 17px; }
    .well .heading i {
      float: none; }

  .fancybox-next span {
    right: 25px; }

  .fancybox-prev span {
    left: 25px; }

  .panel-body input + span {
    margin-top: 5px;
    display: inline-block; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #full_gallery {
    display: block; }

  #default_gallery {
    display: none; }

  .box .box-content .box-product ul li:hover .quick-view-button {
    display: none !important;
    visibility: hidden; }

  .bx-wrapper .bx-controls-direction .bx-prev i, .bx-wrapper .bx-controls-direction .bx-next i {
    display: none; }
  .bx-wrapper .bx-controls-direction .bx-prev:before, .bx-wrapper .bx-controls-direction .bx-next:before {
    font-family: "FontAwesome"; }

  .bx-wrapper .bx-controls-direction .bx-prev:before {
    content: '\f104'; }

  .bx-wrapper .bx-controls-direction .bx-next:before {
    content: '\f105'; } }
@media (min-width: 768px) and (max-width: 979px) {
  .box-subcat li .name a {
    font-size: 14px; } }
@media (max-width: 767px) {
  a.quickview {
    display: none !important; }

  #full_gallery {
    display: block; }

  #default_gallery {
    display: none; }

  .tabs .tab-heading:hover {
    cursor: pointer; }

  .tabs .tab-content {
    display: none; }

  .checkout_button, .button-view {
    display: none; }

  aside {
    display: block; }

  .box-subcat li {
    overflow: hidden;
    clear: both;
    text-align: left; }
    .box-subcat li .image {
      display: inline-block;
      float: left;
      margin-right: 15px;
      width: 25%; }

  .quickview_description iframe,
  .product-desc iframe {
    float: none;
    width: 90% !important; }

  .delivery_page .table {
    font-size: 13px; } }
@media (min-width: 768px) and (max-width: 991px), (max-width: 600px) {
  .breadcrumb {
    padding: 0; }

  .breadcrumb > li:last-child:after {
    display: none; }

  .breadcrumb > li:after {
    width: auto;
    position: static;
    border: 0;
    content: '>';
    margin-left: 5px;
    display: inline-block;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none; }

  .breadcrumb > li {
    padding: 0 5px; }
    .breadcrumb > li a {
      line-height: 24px; } }
@media (max-width: 600px) {
  .quickview_description iframe,
  .product-desc iframe {
    float: none;
    width: 90% !important;
    height: 240px !important; } }
@media (max-width: 530px) {
  .images-footer.despachamos,#link-click{
    text-align:center!important;
  }
  .panel-group .panel input#input-voucher,
  .panel-group .panel input#input-coupon {
    width: 100%; }
  .panel-group .panel span {
    display: block;
    margin-top: 5px; } }
@media (max-width: 500px) {
  img.alignleft, .human_info figure {
    float: none;
    margin: 0 auto 20px; }

  h1 {
    font-size: 26px; } }
@media (max-width: 410px) {
  #accordion .table td,
  #accordion .table thead td {
    font-size: 9px;
    word-wrap: break-word; } }
@media (width: 360px) {
  .common-home .box.latest .box-content, .common-home .box.specials .box-content {
    padding: 0 25px; } }
@media (max-width: 370px) {
  img.alignleft {
    float: none;
    margin: 0 0 20px; }

  .table.privacy_page td {
    padding: 8px; }

  .delivery_page .table td,
  .delivery_page .table th {
    padding: 6px; } }

    @media (max-width: 500px){
      .parallax1, .parallax2{
        padding: 35px 0 !important;
        min-height: 330px
      }
      .parallax_super_fr{
        padding:20px;
        min-height: 230px;
      }

      .parallax_super_fr h1{
        margin: 0;
      }

      .parallax_super_fr p{
       /* font-size: 14px*/;
      }
    }

      #menu-icon .menu{
    display: none !important;
  }
  /***********************************************************************************/
  /**********************************Ajustes Rainyer***********************************/
  /***********************************************************************************/
  #horario p{
    font-family:'Ubuntu';
    font-size: 14px;
    font-weight: bold;
    text-align:center;
    padding-top: 3%;
    padding-bottom: 3%;
    color:#ffffff;
 }

 .lbl_dif{
    vertical-align: middle!important;
    font: 700 29px/39px "Noto Sans", sans-serif;
    color: #FFF;
    margin: 20px
 }

 .dif_row{
    max-width:1000px!important;
    margin:auto;
 }

 #dif_h1{
    font-size:38px;
    text-align: center; 
 }

 .box_dif{
  /*max-width:345px;*/
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
 }

 #box-gradiente{
  margin: auto;
  background-color:rgba(0,0,0,0.7);
  max-width: 1160px;
  min-height:245pt;
  padding-bottom:10px;
  position:relative;
  top: 50%;
  /*-webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);*/
  width: 90%;
  padding-top:2%;
  padding-left:0%;
  padding-right:0%;

 }

 #cil{
    height: 222px;
    padding-left: 0px;
    margin-top: 27px;
    text-align: center;
    width: 162px;
    margin-left: 34px;
 }

.paragraf{
  max-width: 550px;
}

#p1{
    font-family: 'Work Sans', sans-serif!important;
    margin-left: 35px;
    text-align: left;
    font-size: 26px;
    line-height: 48px;
    font-weight: 800;
    /*padding-top: 15px !important;*/
    max-width: 200px;
}

#wrap{
    margin-left: 33px;
}

#p2{
    text-align-last: justify;
   font-family: 'DIN-Regular', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0px;
    max-width: 620px;
    -moz-text-align-last: justify;
    -moz-font-family: 'DIN-Regular', sans-serif;
}
#p_2{
  text-align:left;
  font-family: 'DIN-Regular', sans-serif;
  font-size:17px;
  font-weight:bold;
}

.frase_bold{
  margin-bottom:10px;
  font-family: 'Work Sans', sans-serif!important;
  font-weight:900!important;
  font-size: 19px!important;
}

#seta{
    margin-top: -7px;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    cursor: pointer;
    font-size: 30px;
}

#unidades{
  cursor:default; 
  border:none;
  font-family:"Arial",sans-serif !important;
  font-size:23px;
  text-align: center;
  border:none; 
  font-weight:400;
  color:#fff;
  margin-bottom:0px !important; 
  min-height:48px;
  padding-top: 9px;
  min-width: 100%;
  background-color:rgba(0,0,0,0.7);
}

#lbl-entrega{
  padding-top:10px;
}

.icone_df{
  width:64px;
  height:57px;
}
.sifrao{
  width: 45px!important;
  height:57px;
}

#icon-tel{
  text-align: center;
  width:30px;
  height:30px;
}

.tel{
  padding-top: 19px;
  padding-right: 0px;
}

#numer{
  padding-left:-10px;
}

#num-tel{
  margin:auto;
}

.rodape{
   min-height:30px;
}

#mini-box-parallax1{
  font-family: 'Ubuntu', sans-serif;
  min-height: 153px !important;
  max-width: 436px;
  padding: 9px 22px 8px 22px !important;
  margin-top: 4px;
  /*margin-left: 1%;*/
 }

#mini-box-parallax2{
    margin-top: 12%;
    margin-left: -4%;
    max-width: 493px;
    padding: 16px 0px 0.8px 20px !important;
    min-height: 160px !important;
}

#mini-box-parallax1 h1 ,#mini-box-parallax2 h1{
    padding-top: 2px !important;
    margin-top: 0px !important;
    margin-bottom: 13px !important;
    width: 98%;
  }

#mini-box-parallax1 p,#mini-box-parallax2 p{
padding:0px 0px 0px 0px !important;
margin-right: -3px;
width: 100% !important;
font-size: 17px;
line-height: 19px;
font-family: 'Ubuntu', sans-serif;
}
#texto{
  border:none;
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  margin-top:0px !important;
  color:#fff;
  width: 100%;
  font-size:18px;
   background-color:rgba(0,0,0,0.8);
  transition:open 3s ease;
}
#para_preco{
  padding-top:5px;
}

#para_atendimento{
  padding-top:1px;
}

#para_entrega{
  padding-top:5px;
}
.produto_home{
  width: 90%;
  margin: auto;
}


.bt-green{
    background-color:#377035!important;
}

.footer_box.serv{
   padding-right:15%;
   padding-left:15%;
}