<div class="buttons">
  <div class="pull-right">
     
     <a class="button-confirm" class="btn btn-primary pagseguro">
        <img src="image/logo.png" border="0">               
     </a>

     <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="btn btn-primary button-confirm " />
     
  </div>
  </div>
</div>
<script type="text/javascript"><!--
$('.button-confirm').on('click', function() {
	$.ajax({ 
		type: 'get',
		url: 'index.php?route=payment/pagseguro/confirm',
		cache: false,
		beforeSend: function() {
			$('.button-confirm').button('loading');
		},
		complete: function() {
			$('.button-confirm').button('reset');
		},		
		success: function() {
			<?php if($url){ ?>
			location = '<?php echo $url; ?>';
			<?php } else { ?>
			alert('Erro de acesso no PagSeguro. Para mais detalhes, verifique o log de erros do OpenCart.');
			<?php } ?>
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script> 
